/* Import of the fonts you want to have */
@import url('https://fonts.googleapis.com/css2?family=Phudu:wght@300;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
      /*Declare the colors on the website with variables */
      --one: #026873;

      --two: #0596a6;

      --three: #03a6a6;

      --four: #222d38;

      --five: #dad3c8;

      --black: black;

      --six: #726651;

      --white: #ffffff;




}


/* Description */
/* 1. html,body settings plus colors, fonts */
/* 2. Buttons */
/* 3. Navbar */
/* 4. Hero Image Section */
/* 5. Grid Area */
/* 6. Form */

/* 1. html,body settings plus colors, fonts */
html,
body {
    margin: 0;
    padding: 1;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;


}



/* 2. Buttons */
button.btn {
    border: none;
    background-color: var(--six);
    /* border radius to make a smoother feeling */
    border-radius: 8px;
    color: var(--white);
    font-size: 1.2rem;
    padding: 13px 32px;
    cursor: pointer;
    margin-top: 5vh;
}

button.btn:hover {
    background-color: var(--six);
    color: var(--four);
    font-weight: 400;
}

/* 3. Navbar */
/* Changeing backround color */
.navbar {
    background-color: var(--four);
}
/* Changeing logo text */

a.navbar-brand {
    color: white;
}

/* Removing existing bootstrap pre-build css hover effect */

a.navbar-brand:hover {
    color: white;
}

/* Adjusting the links to the right with flexbox since bootstrap is made by flex */
#navbarNav {
    justify-content: flex-end;
}

/* Color white on links */
a.nav-link {
    color: var(--white);
}

a.nav-link:hover {
    color: var(--five);
    text-decoration: underline;
}

/* Adjusting hamburger nav for mobile view */
button.navbar-toggler {
    background-color: white;
    color: var(--four); /* Tack Theo */
}

/* 4. Hero Image Section */
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(/img/hus1.jpg);
    height: 120vh; /* media query is needed */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
/* Center text in middle with pure css, without flex and it is
responsive whatever screen we show it in */
.hero-text {
    color: var(--white);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-text h1 {
    font-size: 4rem;
    font-weight: 600;
}

/* usp text */
#usp-text {
    margin-top: 5vh;
}


/* 5. Grid Area */
.testimonials-grid-container {
    display: grid;
    /* First we declare the columns, specifies the size of the columns, and how many columns in the grid layout */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /*  Next we declare the rows, specifies the size of the rows in a grid layout*/
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    margin-top: 5vh;
    height: auto;
    margin-left: 10vw;
    margin-right: 10vw;


/* Where do i want each block to be?, how many rows will be used?
Specifies how to display columns and rows, using NAMED GRID ITEMS */
grid-template-areas:
"item1 item1 item2 item2"
"item4 item4 item3 item3"
"item5 item5 item6 item6"
"item8 item8 item7 item7"

}

/* working with each "item" in the grid */
#item1{
    grid-area: item1;
    border-radius: 8px;
    background-image: url(img/family.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 53vh;
}

#item2{
    grid-area: item2;
    border-radius: 8px;
    background-color: var(--three);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    text-align: center;
    color: var(--white);
    padding-top:20px;

}

#item2 h2{
    width: 80%;
    margin:auto;
    padding:3vh;
}

#item2 p{
    width: 80%;
    margin:auto;

}

#item3{
    grid-area: item3;
    border-radius: 8px;
    background-image: url(img/office-820390_1920.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 53vh;
}

#item4{
    grid-area: item4;
    border-radius: 8px;
    background-color: var(--three);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    text-align: center;
    color: var(--white);
    padding-top:20px;

}

#item4 h2{
    width: 80%;
    margin:auto;
    padding:3vh;
}

#item4 p{
    width: 80%;
    margin:auto;

}
#item5{
    grid-area: item5;
    border-radius: 8px;
    background-image: url(img/jonas-leupe-wlrmQa7Hli8-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 53vh;
}

#item6{
    grid-area: item6;
    border-radius: 8px;
    background-color: var(--three);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    text-align: center;
    color: var(--white);
    padding-top:20px;

}

#item6 h2{
    width: 80%;
    margin:auto;
    padding:3vh;
}

#item6 p{
    width: 80%;
    margin:auto;

}

#item7{
    grid-area: item7;
    border-radius: 8px;
    background-image: url(/img/office-820390_1920.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 53vh;
}

#item8{
    grid-area: item8;
    border-radius: 8px;
    background-color: var(--three);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    text-align: center;
    color: var(--white);
    padding-top:20px;

}

#item8 h2{
    width: 80%;
    margin:auto;
    padding:3vh;
}

#item8 p{
    width: 80%;
    margin:auto;

}

/* Grid Area Responsive settings */
@media only screen and (max-width:550px){
    .testimonials-grid-container{
        grid-template-columns: 1fr;
        grid-template-rows: 4fr;
        row-gap: 5vh;
        grid-template-areas:
        "item1"
        "item2"
        "item3"
        "item4"
    }
    #item4{
        height:80vh;
    }
    #item3{
        height:50vh;
    }
    #item2{
        height:80vh;
    }

}

/* 6. Form */
.title{
    display: flex;
    justify-content: center;
    margin-top: 20vh;
}

.container{
    border-radius: 8px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;

}

input[type=text], select, textarea{
    width: 100%;
    padding:12px;
    border:1px solid #ccc;
    border-radius: 4px;
    margin-top: 1vh;
    margin-bottom: 2vh;
    resize: vertical;
}

input[type=submit]{
    background-color: #03a6a6;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;

}

input[type=submit]:hover{
    background-color: green;


}


/*Footer Grid Container*/
.Grid__Container {
    display: grid;
    margin-top: 40vh;
    /* 2 columns for smaller screens */
    grid-template-columns: repeat(2, 1fr);
    height: 40vh;
    background-color: var(--four);



  }

  #footer1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top:5vh;


  }
  #footer2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top:5vh;



  }
  #footer3{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top:5vh;



  }
  #footer4{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top:5vh;



  }

  .Bottom_Column {
    /* The bottom "row" should span the 2 columns on smaller screens */
    grid-column: span 2 / span 2;
    background-color: var(--four);
    color: white;
    display: flex;
    justify-content: center;
    margin-top:20vh;


  }

  @media (min-width: 768px) {
    .Grid__Container {
      /* 4 columns for larger screens */
      grid-template-columns: repeat(4, 1fr);
    }
    .Bottom_Column {
      /* The bottom "row" should span the 4 columns on larger screens */
      grid-column: span 4;
    }
  }
